<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
      <h3 class="panel-title">{{ i18n "tocTitle" }}</h3>
    </div>
    <div class="panel-body">
      <!-- <ul class="nav nav-pills nav-stacked"> -->
            {{ .page.TableOfContents }}
        <!-- </ul> -->
    </div>
</div>
