{{ if isset .Site.Params "introduction" }}
{{ if .Site.Params.introduction.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white">
  <div class="container">
    {{ .Site.Params.introduction.content | safeHTML}}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
